.additionally__form {
  border: none;
  padding: 0;
  margin: 0;
}

.additionally__title {
  margin: 0;
  display: inline-block;
  padding-right: 22px;
  font-family: inherit;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}

.additionally__list {
  padding: 39px 0;
}

.additionally__item {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  align-items: center;
  text-transform: uppercase;
  color: #000000;

  &:active {
    opacity: 0.3;
  }
}

.additionally__item:not(:last-child) {
  margin-bottom: 25px;
}

.additionally__label {
  position: relative;
  padding-left: 16px;
}

.additionally__description {
  padding-left: 16px;
}
