.additional-products__wrapper {
  padding: 26px 20px 35px 20px;
  background-color: #ffffff;
}

.additional-products__title {
  position: relative;
  margin: 0;
  font-family: inherit;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  color: #000000;
}

.additional-products__list {
  margin: 36px 0;
  display: flex;
  flex-direction: column;
}

.additional-products__item {
  display: flex;
  flex-direction: column;
  padding-bottom: 19px;
  border-bottom: 1px solid #cdcdcd;
}

.additional-products__item:first-child {
  border-top: 1px solid #cdcdcd;
}

.additional-products__name-card {
  margin: 0;
  margin-bottom: 10px;
  padding-top: 13px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}

.additional-products__info-card {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.additional-products__button {
  border: none;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  min-height: 40px;
  background-color: #68b738;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }
}

.additional-products__bonus {
  background: linear-gradient(to right, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/background-bonus.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.additional-products__bonus-title {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding-bottom: 43px;
}

@media (min-width: @tablet-width) {
  .additional-products__wrapper {
    padding: 3px 30px 76px 30px;
    background-color: #ffffff;
  }

  .additional-products__title {
    font-size: 36px;
    line-height: 36px;
    text-align: left;
    padding-left: 37px;
    padding-right: 36px;
  }

  .additional-products__title::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    background-color: #68b738;
    right: 100%;
  }

  .additional-products__title::after {
    margin-left: 40px;
    width: 100%;
  }

  .additional-products__cards {
    margin: 80px 0 65px;
  }

  .additional-products__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 26px 38px 32px 38px;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
  }

  .additional-products__name-card {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
    padding-top: 0;
  }

  .additional-products__info-card {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .additional-products__price {
    margin-left: 50px;
  }

  .additional-products__pack,
  .additional-products__price {
    font-size: 16px;
    line-height: 20px;
  }

  .additional-products__button {
    line-height: 20px;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: -1;
    margin-top: 20px;
  }

  .additional-products__bonus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/background-bonus-tablet.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 200px;
  }

  .additional-products__icon {
    margin-left: 77px;
    margin-right: 0;
    width: 80px;
    height: 90px;
  }

  .additional-products__bonus-title {
    padding: 0;
    margin-right: 124px;
    text-align: inherit;
  }
}

@media (min-width: @desktop-width) {
  .additional-products__wrapper {
    padding: 80px 110px 86px 110px;
  }

  .additional-products__body {
    display: flex;
    margin-top: 80px;
  }

  .additional-products__list {
    margin: 0;
    flex: 1;
  }

  .additional-products__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0 17px 0;
    border-left: none;
    border-right: none;
  }

  .additional-products__button {
    margin: 0;
    width: 245px;
    margin-left: 38px;
  }

  .additional-products__info-card {
    flex-basis: 300px;
    justify-content: space-between;
  }

  .additional-products__name-card {
    flex: 1;
  }

  .additional-products__bonus {
    flex-direction: column;
    margin-left: 80px;
    background: linear-gradient(to right, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/background-bonus-desktop.jpg");
  }

  .additional-products__bonus-title {
    padding: 0;
    margin: 45px 43px;
  }

  .additional-products__icon {
    margin-top: 56px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
