.comment__title {
  display: inline-block;
  margin: 0;
  font-family: inherit;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  padding-right: 22px;
}

.comment__skill-cat-form {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  padding: 10px 12px 45px;
  width: 100%;
  height: auto;
  margin-top: 40px;
}
