.examples__wrapper {
  background-color: #eaeaea;
  padding: 24px 20px 22px;
}

.examples__title {
  margin: 0 0 30px 0;
  font-family: inherit;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: left;
  color: #000000;
}

.examples__text {
  padding: 10px 0 0 0;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;
}

.examples__statistic {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: @tablet-width) {
  .examples {
    background-image: linear-gradient(to top, #eaeaea 462px, #ffffff 462px);
  }

  .examples__wrapper {
    background: none;
    padding: 0;
  }

  .examples__title {
    font-size: 60px;
    line-height: 60px;
    padding: 30px 30px 35px 30px;
  }

  .examples__text {
    padding: 0 30px;
    font-size: 16px;
    line-height: 24px;
  }

  .examples__statistic {
    justify-content: flex-start;
    margin-top: 53px;
    margin-bottom: 105px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: @desktop-width) {
  .examples {
    margin-top: 58px;
    background-image: linear-gradient(to bottom, #ffffff 136px, #f2f2f2 136px);
  }

  .examples__wrapper {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }

  .examples__wrapper-desktop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .examples__block-desktop {
    padding: 0 110px;
  }

  .examples__title {
    display: block;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 145px;
    padding: 0;
  }

  .examples__text {
    padding: 0;
    max-width: 436px;
  }

  .examples__statistic {
    margin-top: 70px;
    margin-bottom: 76px;
    padding: 0;
  }
}
