.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  width: auto;
  flex-direction: column;
}

.main-header__wrapper-logo {
  display: flex;
  padding: 10px 20px 17px 20px;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-header__cointainer-toogle {
  width: 40px;
  height: 18px;
}

.main-header__logo {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-header__logo-cat-energy {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: @tablet-width) {
  .main-header__wrapper {
    display: flex;
    padding: 0 30px;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: row;
  }

  .main-header__wrapper-logo {
    display: block;
    padding: 0;
  }

  .main-header__logo-cat-energy {
    display: none;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-header__nav {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .main-header {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }

  .main-header__wrapper {
    padding: 53px 110px 0 110px;
    align-items: center;
  }
}
