.main-nav {
  position: relative;
}

.main-nav__list {
  display: none;
  position: absolute;
  z-index: 4;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #ffffff;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-nav__burger {
  fill: #000000;
  width: 24px;
  height: 18px;
  stroke: #000000;
  stroke-width: 1.5;
}

.main-nav__toggle {
  display: block;
  position: absolute;
  cursor: pointer;
  border: none;
  background-color: #ffffff;
  padding: 0;
  width: 24px;
  height: 18px;
  right: 20px;
  top: -43px;
}

.main-header__logo-cat-energy {
  margin-left: 8px;
  margin-top: 6px;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 25px;
  background-color: #ffffff;
}

.main-nav--opened .main-nav__burger {
  display: none;
}

.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 5;
  right: 0;
  width: 25px;
  height: 1.5px;
  background-color: #000000;
}

.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
}

.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}

@media (max-width: @mobile-width) {
  .main-nav .main-nav--closed {
    display: none;
  }

  .main-nav--opened .main-nav__list {
    display: block;
    position: absolute;
    min-width: 320px;
  }

  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--nojs .main-nav {
    position: static;
    min-height: 0;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__list {
    position: static;
    display: block;
  }

  .main-nav--nojs .site-list__item {
    display: block;
  }
}

@media (min-width: @tablet-width) {
  .main-nav--closed .main-nav__wrapper {
    display: block;
  }

  .main-nav {
    min-width: 440px;
    height: 36px;
  }

  .main-nav__list {
    position: relative;
    display: flex;
    row-gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    min-width: 483px;
    background-color: transparent;
    z-index: 6;
  }

  .main-nav__list {
    margin-top: 2px;
    background-color: transparent;
  }
}
