.program {
  display: flex;
  padding: 20px;
  background-color: #ffffff;
}

.program__wrapper {
  align-items: center;
}

.program__item {
  background-color: #F2F2F2;
  padding: 24px 33px 18px 20px;
}

.program__item:not(:last-child) {
  margin-bottom: 20px;
}

.program__title {
  margin: 0;
  font-family: inherit;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  padding-bottom: 29px;
}

.program__description {
  margin: 0;
  margin-bottom: 20px;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  padding-bottom: 23px;
  border-bottom: 1px solid #D9D9D9 ;
}

.program__link {
  display: flex;
  min-width: 140px;
  cursor: pointer;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.catalog-program__name {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
}
