.questions__container {
  min-width: 320px;
}

.questions__module {
  padding: 0;
  margin: 0;
  border: 0;
}

.questions__cat-data {
  position: relative;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid #e7e7e7;
  list-style-type: none;
  margin-top: 5px;
}

.questions__choice-program {
  padding: 12px 20px 23px 20px;
  border-bottom: 1px solid #d9d9d9;
}

.questions__contact {
  border: none;
  margin: 0;
  padding: 26px 20px 0 20px;
}

.questions__comment {
  border: none;
  margin: 0;
  padding: 0 20px 19px;
}

.questions__additionally {
  border: none;
  margin: 0;
  padding: 2px 20px 32px;
}

.questions__required-form {
  margin: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #000000;
}

.questions__send-form {
  cursor: pointer;
  border: none;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  min-height: 40px;
  background-color: rgba(104, 183, 56, 1);
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 21px;

  &:hover {
    background-color: #68b738;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .questions__container {
    padding: 0 70px 20px 70px;
  }

  .questions__cat-data {
    border-bottom: none;
    padding: 0;
  }

  .questions__choice-program {
    border-bottom: none;
    padding: 0;
    margin-top: 60px;
  }

  .questions__contact {
    padding: 54px 70px 0 70px;
  }

  .questions__comment {
    padding: 66px 70px 0 70px;
  }

  .questions__send-form {
    font-size: 20px;
    line-height: 22px;
    min-width: 282px;
    margin-bottom: 0;
    flex: 0;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .questions__required-form {
    font-size: 16px;
    line-height: 16px;
    margin-left: 60px;
  }

  .questions__additionally {
    padding: 0 70px 72px 70px;
  }

  .questions__send {
    display: flex;
    align-items: center;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .questions__container--desktop {
    max-width: 1440px;
    margin: 0 auto;
  }

  .questions__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 0 50px 0;
  }

  .questions__container .questions__cat-data {
    padding-left: 110px;
  }

  .questions__container .questions__choice-program {
    padding-right: 110px;
  }

  .questions__cat-data {
    width: 569px;
    margin: 0;
  }

  .questions__choice-program {
    width: 569px;
    margin: 0;
  }

  .questions__contact {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
  }

  .questions__comment {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
  }

  .questions__additionally {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
  }

  .questions__send {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 110px 50px 110px;
  }

  .questions__send-form {
    min-width: 568px;
    min-height: 52px;
  }

  .questions__required-form {
    margin-left: 80px;
  }
}
