.specifications__info {
  display: flex;
  justify-content: space-between;
}

.specifications__text {
  padding: 0;
}

.specifications__value {
  padding: 0;
}


@media (min-width: @tablet-width) {
  .specifications__info {
    padding-top: 7px;
    padding-bottom: 9px;
    border-bottom: 1px solid #cdcdcd;
  }
}
